!!!
%html
%head
  %title= "Descriptions"
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = # javascript_include_tag "ckeditor/ckeditor.js"
  = csrf_meta_tags

= yield

